USE [MyProjectDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/29/2020 6:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 9/29/2020 6:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDh] [uniqueidentifier] NOT NULL,
	[NgayDat] [datetime2](7) NOT NULL,
	[MaKh] [int] NULL,
	[NguoiNhan] [nvarchar](max) NULL,
	[DiaChiGiao] [nvarchar](max) NULL,
	[TongTien] [float] NOT NULL,
	[TinhTrangDonHang] [int] NOT NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangChiTiet]    Script Date: 9/29/2020 6:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangChiTiet](
	[MaDh] [uniqueidentifier] NOT NULL,
	[MaHh] [uniqueidentifier] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [float] NOT NULL,
 CONSTRAINT [PK_DonHangChiTiet] PRIMARY KEY CLUSTERED 
(
	[MaDh] ASC,
	[MaHh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 9/29/2020 6:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHangHoa] [uniqueidentifier] NOT NULL,
	[TenHh] [nvarchar](100) NOT NULL,
	[DonGia] [float] NOT NULL,
	[GiamGia] [tinyint] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Hinh] [nvarchar](max) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[MoTa] [nvarchar](200) NULL,
	[MaLoai] [int] NULL,
	[DiemReview] [float] NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaHangHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoaTag]    Script Date: 9/29/2020 6:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoaTag](
	[TagKey] [nvarchar](50) NOT NULL,
	[MaHangHoa] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_HangHoaTag] PRIMARY KEY CLUSTERED 
(
	[TagKey] ASC,
	[MaHangHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhPhus]    Script Date: 9/29/2020 6:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhPhus](
	[Id] [uniqueidentifier] NOT NULL,
	[Url] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[MaHangHoa] [uniqueidentifier] NULL,
 CONSTRAINT [PK_HinhPhus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 9/29/2020 6:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKh] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[DangHoatDong] [bit] NOT NULL,
	[MaNgauNhien] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 9/29/2020 6:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaLoaiCha] [int] NULL,
 CONSTRAINT [PK_Loai] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewHangHoas]    Script Date: 9/29/2020 6:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewHangHoas](
	[Id] [uniqueidentifier] NOT NULL,
	[NgayReview] [datetime2](7) NOT NULL,
	[DiemReview] [tinyint] NOT NULL,
	[TieuChi] [int] NOT NULL,
	[MaHangHoa] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ReviewHangHoas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 9/29/2020 6:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Criteria] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 9/29/2020 6:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[IsSystem] [bit] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 9/29/2020 6:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagKey] [nvarchar](50) NOT NULL,
	[TagValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[TagKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 9/29/2020 6:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200929111620_InitDatabase', N'3.1.4')
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKh], [HoTen], [SoDienThoai], [Email], [MatKhau], [DiaChi], [DangHoatDong], [MaNgauNhien]) VALUES (1, N'Quản trị Hệ thống', N'0909009990', N'admin@nhatnghe.com', N'mWh0CuavlFT3OHPQu/inCvvMpl+ZwUilztSLsxCKzrnmnhOHAjn0xKxqZwY8EVUt6UZv21OvfMaKNbw/1IVK2w==', NULL, 1, N'zt3#7')
INSERT [dbo].[KhachHang] ([MaKh], [HoTen], [SoDienThoai], [Email], [MatKhau], [DiaChi], [DangHoatDong], [MaNgauNhien]) VALUES (2, N'Nguyễn Anh Đào', N'0919789456', N'anhdao@nhatnghe.com', N'cO7B3qQWpL7kcG8ZRhUcCZkL01jkd4IT0NAFIa2LTyLgWyWLL5vEupSQI417yY+D7C8A3V7+Gku7+0Vjhetb9w==', N'105 Bà Huyện Thanh Quan', 1, N'vqqy0')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[Loai] ON 

INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MoTa], [MaLoaiCha]) VALUES (1, N'Điện máy - Điện lạnh', N'Điện máy - Điện lạnh', NULL)
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MoTa], [MaLoaiCha]) VALUES (2, N'Điện máy', N'Điện máy', 1)
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MoTa], [MaLoaiCha]) VALUES (3, N'Điện lạnh', N'Điện lạnh', 1)
SET IDENTITY_INSERT [dbo].[Loai] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName], [IsSystem]) VALUES (1, N'Quản trị Hệ thống', 1)
INSERT [dbo].[Role] ([RoleId], [RoleName], [IsSystem]) VALUES (2, N'Bán hàng', 1)
INSERT [dbo].[Role] ([RoleId], [RoleName], [IsSystem]) VALUES (3, N'Thủ kho', 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
INSERT [dbo].[UserRole] ([RoleId], [UserId]) VALUES (1, 1)
INSERT [dbo].[UserRole] ([RoleId], [UserId]) VALUES (2, 1)
INSERT [dbo].[UserRole] ([RoleId], [UserId]) VALUES (3, 1)
ALTER TABLE [dbo].[HangHoa] ADD  DEFAULT (newid()) FOR [MaHangHoa]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang_MaKh] FOREIGN KEY([MaKh])
REFERENCES [dbo].[KhachHang] ([MaKh])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang_MaKh]
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DonHangChiTiet_DonHang_MaDh] FOREIGN KEY([MaDh])
REFERENCES [dbo].[DonHang] ([MaDh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHangChiTiet] CHECK CONSTRAINT [FK_DonHangChiTiet_DonHang_MaDh]
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DonHangChiTiet_HangHoa_MaHh] FOREIGN KEY([MaHh])
REFERENCES [dbo].[HangHoa] ([MaHangHoa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHangChiTiet] CHECK CONSTRAINT [FK_DonHangChiTiet_HangHoa_MaHh]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_Loai_MaLoai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_Loai_MaLoai]
GO
ALTER TABLE [dbo].[HangHoaTag]  WITH CHECK ADD  CONSTRAINT [FK_HangHoaTag_HangHoa_MaHangHoa] FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HangHoa] ([MaHangHoa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangHoaTag] CHECK CONSTRAINT [FK_HangHoaTag_HangHoa_MaHangHoa]
GO
ALTER TABLE [dbo].[HangHoaTag]  WITH CHECK ADD  CONSTRAINT [FK_HangHoaTag_Tag_TagKey] FOREIGN KEY([TagKey])
REFERENCES [dbo].[Tag] ([TagKey])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangHoaTag] CHECK CONSTRAINT [FK_HangHoaTag_Tag_TagKey]
GO
ALTER TABLE [dbo].[HinhPhus]  WITH CHECK ADD  CONSTRAINT [FK_HinhPhus_HangHoa_MaHangHoa] FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HangHoa] ([MaHangHoa])
GO
ALTER TABLE [dbo].[HinhPhus] CHECK CONSTRAINT [FK_HinhPhus_HangHoa_MaHangHoa]
GO
ALTER TABLE [dbo].[Loai]  WITH CHECK ADD  CONSTRAINT [FK_Loai_Loai_MaLoaiCha] FOREIGN KEY([MaLoaiCha])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[Loai] CHECK CONSTRAINT [FK_Loai_Loai_MaLoaiCha]
GO
ALTER TABLE [dbo].[ReviewHangHoas]  WITH CHECK ADD  CONSTRAINT [FK_ReviewHangHoas_HangHoa_MaHangHoa] FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HangHoa] ([MaHangHoa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewHangHoas] CHECK CONSTRAINT [FK_ReviewHangHoas_HangHoa_MaHangHoa]
GO
ALTER TABLE [dbo].[ReviewHangHoas]  WITH CHECK ADD  CONSTRAINT [FK_ReviewHangHoas_Reviews_TieuChi] FOREIGN KEY([TieuChi])
REFERENCES [dbo].[Reviews] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewHangHoas] CHECK CONSTRAINT [FK_ReviewHangHoas_Reviews_TieuChi]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_KhachHang_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[KhachHang] ([MaKh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_KhachHang_UserId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role_RoleId]
GO
