@using MyProjectForJuly2020.ViewModels
@model MyProjectForJuly2020.Data.Loai

@{
    ViewData["Title"] = "Thêm mới";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenLoai" class="control-label"></label>
                <input asp-for="TenLoai" class="form-control" />
                <span asp-validation-for="TenLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLoaiCha" class="control-label"></label>
                @await Html.PartialAsync("_LoaiDropDown", ViewBag.DanhSachLoaiCha as LoaiDropDownVM)
                <span asp-validation-for="MaLoaiCha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
