
@{
    ViewData["Title"] = "Page Not Found";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<div class="error-page">
    <div class="container">
        <div class="error_pagenotfound">
            <strong>4<span id="animate-arrow">0</span>4 </strong> <br />
            <b>Oops... Page Not Found!</b> <em>Sorry the Page Could not be Found here.</em>
            <p>Try using the button below to go to main page of the site</p>
            <br />
            <a asp-controller="HangHoa" class="button-back"><i class="icon-arrow-left-circle icons"></i>&nbsp; Trang chủ</a>
        </div>
        <!-- end error page notfound -->

    </div>
</div>

